<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:rel="stylesheet" type="text/css"
	th:href="@{/css/footerstyle.css}">
<link th:rel="stylesheet" type="text/css"
	th:tref="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<link th:rel="stylesheet"
	th:tref="@{/webjars/font-awesome/5.11.2/css/all.css} " />
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<script
	src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script
	src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
<meta charset="UTF-8">
<title>Turista</title>
<link rel="stylesheet" th:href="@{/css/footerstyle.css}">
</head>
<body>

	<div class="pie">
		<footer>
			<div class="container-footer-all">
				<div id="cont" class="container">
					<div class="column1">
						<h1>Mas informacion de la compañia</h1>
						<p style="font-size:20px">Somos un grupo de jovenes emprendedores que buscan brindar a las personas sus experincias en esta linda provincia</p>


					</div>

					<div class="column2" id="redes">

						<h1>Redes Sociales</h1>

						<div id="imagen" class="row">
							<img th:src="@{/img/fb.png}"> <label><a href="#"> Siguenos en Facebook</a></label>

						</div>
						<div id="imagen" class="row">
							<img th:src="@{/img/twitter.png}"> <label><a href="#"> Siguenos en Twitter</a></label>

						</div>
						<div id="imagen" class="row">
							<img th:src="@{/img/ig.png}"> <label><a href="#">Siguenos en Instagram</a></label>

						</div>
						<div id="imagen" class="row">
							<img th:src="@{/img/word.png}"> <label><a href="#">Siguenos en Wordpress</a></label>

						</div>
						<div id="imagen" class="row">
							<img th:src="@{/img/flip.png}"> <label><a href="#"> Siguenos en Flipboard</a></label>

						</div>
					</div>
					<div class="column3">


						<h1>Informacion para contactarnos</h1>

						<div id="contacto" class="row2">
							<img th:src="@{/img/casita.png}"> <label>Viltipico 453,JUJUY -
								HUMAHUACA</label>

						</div>
						<div id="contacto" class="row2">
							<img th:src="@{/img/tel.png}"> <label>+54 9 388123456</label>

						</div>
						<div id="contacto" class="row2">
							<img th:src="@{/img/correo.png}"> <label>starbucks@gmail.com</label>


						</div>


					</div>
				</div>
				<div class="container-footer">
					<div class="footer">
						<div class="copyright">@ 2021 Todos los derechos reservados
							| Maxiis</div>
						<div id="info" class="informacion">

							<a href="">Informacion compañia</a> | <a href="">Privacidad y
								politica</a> |<a href="">Terminos y condiciones</a>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>