<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:rel="stylesheet" type="text/css"
	th:href="@{/css/footerstyle.css}">
<link th:rel="stylesheet" type="text/css"
	th:tref="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<link th:rel="stylesheet"
	th:tref="@{/webjars/font-awesome/5.11.2/css/all.css} " />
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<script
	src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script
	src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
<meta charset="UTF-8">
<title>Turista</title>
<link rel="stylesheet" th:href="@{/css/footerstyle.css}">
</head>
<body>
   

    <footer>
<div class="container-footer-all"> 
<div class="container">
    <div class="column1">
        <h1>Mas informacion de la compañia</h1>
        <p>tuviejatuviejatuviejtuvieja</p>


</div>

<div class="column2">

    <h1>Redes Sociales</h1>

    <div class="row">
        <img src="fb.png">
        <label> Siguenos en Facebook</label>

    </div>
    <div class="row">
        <img src="twitter.png">
        <label> Siguenos en Twitter</label>
        
    </div>
    <div class="row">
        <img src="ig.png">
        <label> Siguenos en Instagram</label>
        
    </div>
    <div class="row">
        <img src="word.png">
        <label> Siguenos en Wordpress</label>
        
    </div>
    <div class="row">
        <img src="flip.png">
        <label> Siguenos en Flipboard</label>
        
    </div>
</div>
    <div class="column3">


        <h1>Informacion para contactarnos</h1>

        <div class="row2">
            <img src="casita.png">
            <label>Viltipico 453,JUJUY - HUMAHUACA</label>

    </div>
    <div class="row2">
        <img src="tel.png">
        <label>+54 9 388123456</label>
        
</div>
<div class="row2">
    <img src="correo.png">
    <label>starbucks@gmail.com</label>

    
</div>


</div>
</div>
<div class="container-footer">
    <div class="footer">
    <div class="copyright">
         @ 2021 Todos los derechos reservados | Maxiis
    </div>
    <div class="informacion">
    
        <a href="">Informacion compañia</a> | <a href="">Privacidad y politica</a>  |<a href="">Terminos y condiciones</a> 
    </div>
</div>
    </div>
</div>
    </footer>
    
</body>
</html>