body{
	background-image: url(https://c4.wallpaperflare.com/wallpaper/506/2/442/sierras-colorful-fourteen-coloured-mountain-andes-wallpaper-preview.jpg);
    background-repeat: no-repeat; /* hace que la imagen no se repita */
    background-position: center center; /* hace que la imagen se pocicione en el centro */
    background-attachment: fixed;  /* hace que la imagen se vea piola */
    background-size: cover; /* hace que la imagen sea responciva */
	
}
.container{
    color: #ffff;
    background-color: rgba(0, 0, 0, 0.5);
}
/*Si tenes problemas con el body solo cambialo por una clase*/