.formulario {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top:10px;
  padding-bottom:5px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.6);
	
}
.tituloform{
	
	text-align:center;
	color: white;
	
}
.form-group{
	
	
	color: orange;
	font-weight:bolder;
}
.btn{
	
	padding: 0.5em 1em;
  border: none;
  background: rgb(100, 200, 255);
  border-radius: 10px;
  cursor: pointer;
}
body{
	background-image: url(https://c4.wallpaperflare.com/wallpaper/506/2/442/sierras-colorful-fourteen-coloured-mountain-andes-wallpaper-preview.jpg);
    background-repeat: no-repeat; /* hace que la imagen no se repita */
    background-position: center center; /* hace que la imagen se pocicione en el centro */
    background-attachment: fixed;  /* hace que la imagen se vea piola */
    background-size: cover; /* hace que la imagen sea responsiva */
	
}
