<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:rel="stylesheet" type="text/css"
	th:tref="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<link th:rel="stylesheet" type="text/css"
	th:href="@{/css/estilosmaxiif.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">

<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>	
<meta charset="UTF-8">
<title>Error</title>
<link rel="stylesheet" th:href="@{/css/estilosmaxiif.css}">
</head>
<body>
	<section class="contenedor">
        <div class="formulario col-md-3">
        <div class="tituloform"> <h3>Un error ha ocurrido</h3> </div>
            <form>
            	<div class="form-group">
                    <label for="nombre" class="form-label">Correo duplicado</label>
                    El correo que ingreso ya existe, por favor vuelva atras e ingrese otro
                </div>
    		</form>
    	</div>
    </section>		        
</body>
</html>