<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:rel="stylesheet" type="text/css"
	th:tref="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<link th:rel="stylesheet"
	th:tref="@{/webjars/font-awesome/5.11.2/css/all.css} " />
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<link th:rel="stylesheet" th:href="@{/css/stylish.css}" type="text/css" href="../static/css/styles.css">
<script
	src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script
	src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<meta charset="UTF-8">
<title>Home</title>
</head>
<body style="background:black">
<div class="form-row">
<div><img th:src="@{/img/fondohome.jpg}" width="800" height="610" class="img-fluid" alt=""> </div>
    <section class="contenedor bg-body text-dark">
        <form th:action="@{/login}" method="post">
            <div class="flores col-md-8">
            
                <label for="email" class="flores" style="color:white">Ingrese su email</label>
                <br>
                <input type="text" name="correo" id="email">
            </div>
            <div class="flores col-md-8">
                <label for="contraseña" class="flores" style="color:white">Ingrese su contraseña</label>
                <br>
                <input type="password" name="password" id="contraseña">
                <a href="#"> OLVIDASTE TU PASSWORD?</a> <br> <a href="/turista/mostrar"> 
								NO Tenes cuenta?</a>
            </div>
            <br>
            <div class="flores col-md-8">
                <input type="submit" value="Ingresar" class="btn btn-success btn-block">
                <br>
            </div>
           <br>
            <div class="flores col-md-8">
                <input type="submit" value="Ingrese con gmail"  class="btn btn-danger btn-block">
            </div>
            <br>
            <div class="flores col-md-8">
                <input type="submit" value="Ingrese con faisbuk" class="btn btn-primary btn-block">
            </div>
            <br>
           </form> 
     </section>
</div>
    
</body>
</html>
