<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link th:rel="stylesheet" type="text/css"
	th:tref="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">

<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
	<section class="contenedor">
		<div class="inicio">
			<form th:action="@{/login}" method="post" style="padding:10px">
				<div class="form-floating col-md-3">
					<img th:src="@{/img/logo-oficial2.jpg}" class="logo" alt=""> <input
						type="email" class="form-control" id="floatingInput"
						placeholder="Ingrese su correo" name="correo"> <label
						for="floatingInput" style="text-align:border">Email</label>
				</div>
				<div class="form-floating col-md-3">
					<input type="password" class="form-control" id="floatingPassword"
						placeholder="Ingrese su contraseña" name="password"> <label
						for="floatingPassword">Contraseña</label>
				</div>
				<div class="form-floating col-md-3">
					 <a href="/turista/mostrar"  style="text-decoration:none;color:yellow">
						Crear cuenta</a>
				</div>
				<div class="form-floating col-md-3">
					<input type="submit" value="Ingresar"
						class="btn btn-success btn-block">
				</div>
			</form>
		</div>

	</section>

</body>
</html>

