<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" type="text/css"
	th:tref="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
    <link th:rel="stylesheet"
	th:tref="@{/webjars/font-awesome/5.11.2/css/all.css} " />
    <title>inicio</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
</head>
<body>
    <section class="contenedor">
        <div class="form-floating col-md-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating col-md-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>

    </section>
    
</body>
</html>