<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:rel="stylesheet" type="text/css"
	th:tref="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<link th:rel="stylesheet" type="text/css"
	th:href="@{/css/footerstyle.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">

<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>	
<link rel="shortcut icon" th:href="@{/img/logo-oficial2.jpg}">
<meta charset="UTF-8">
<title>Pol</title>
</head>
<body style="background-image: url(https://c4.wallpaperflare.com/wallpaper/506/2/442/sierras-colorful-fourteen-coloured-mountain-andes-wallpaper-preview.jpg);background-repeat: no-repeat;background-position: center center;background-attachment: fixed; background-size: cover;">
	<div th:insert="layout/header :: header"></div>
	<div class="container" style="
    background-color: rgba(0, 0, 0, 0.65);padding:10px;">
		<h2 style="color:white;text-align:center">Crea tu punto de interes</h2>
		<form id="formPol" th:object="${unPol}"
			th:action="${editMode}?@{/pol/modificar}:@{/pol/guardar}"
			method="post" enctype="multipart/form-data">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="nombrepol">Nombre</label> <input type="text" 
						class="form-control" id="nombrepol" th:field="*{nombre}">
					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error</small>
				</div>
				<div class="form-group col-md-6">
					<label for="descripcionpol">Descripcion</label> <input type="text"
						class="form-control" id="descripcionpol" th:field="*{descripcion}">
					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('descripcion')}"
						th:errors="*{descripcion}">Error</small>
				</div>
			</div>
			<input type="hidden" th:field="*{codigo}" th:if="${editMode}">
			<details>
			<summary>Direcciones de referencia(Obligatorio)</summary>
			<div class="form-row">
				<div class="form-group col-md-3">
					<label for="nombrepol">Calle</label> <input type="text"
						class="form-control" id="nombrepol" th:field="*{calle}" required> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('calle')}" th:errors="*{calle}">Error</small>
				</div>
				<div class="form-group col-md-3">
					<label for="barriopol">Barrio</label> <input type="text"
						class="form-control" id="barriopol" th:field="*{barrio}" required>
					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('barrio')}" th:errors="*{barrio}">Error</small>
				</div>
				<div class="form-group col-md-3">
					<label for="numeropol">Numero</label> <input type="number"
						class="form-control" id="numeropol" th:field="*{numeroCasa}">
					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('numeroCasa')}"
						th:errors="*{numeroCasa}">Error</small>
				</div>
				<div class="form-group col-md-3">
					<label for="localidadpol">Localidad</label>
					<select id="etiquetapol"
						class="form-control" th:field="*{localidad}">
						<option value="--Seleccione la localidad--" selected disabled>-- Seleccione una etiqueta --</option>
						<option value="Abra Pampa">Abra Pampa</option>
						<option value="Aguas Calientes">Aguas Calientes</option>
						<option value="Humahuaca">Humahuaca</option>
						<option value="Purmamarca">Purmamarca</option>
						<option value="Perico">Perico</option>
						<option value="San Salvador de Jujuy">San Salvador de Jujuy</option>
						<option value="Susques">Susques</option>
						<option value="Tilcara">Tilcara</option>
						<option value="Tumbaya">Tumbaya</option>
						<option value="Valle Grande">Valle Grande</option>
						<option value="Volcan">Volcan</option>
						<option value="Yavi">Yavi</option>
						<option value="Yala">Yala</option>
					</select> 
					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('localidad')}" th:errors="*{localidad}">Error</small>
				</div>
				<div class="form-group col-md-3">
				<select th:field="*{turista.idTurista}" id="sel" style="visibility:hidden"
									class="custom-select mt-3 mb-3 border-info" required>
									<option th:value="${unTurista.idTurista}" name="idTurista"
										th:text="${unTurista.nombre}"></option>
										
				</select>
				<small class="form-text text-danger"
						th:if="${#fields.hasErrors('turista.idTurista')}" th:errors="*{turista.idTurista}">Error</small>
				</div>		
			</div>
			</details>
			<input type="hidden" th:field="${unTurista.idTurista}">
			<input type="hidden" th:field="${unTurista.puntos}">
			<p>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="sitiowebpol">Sitio Web</label> <input type="url"
						class="form-control" id="sitiowebpol" th:field="*{sitioWeb}">
				</div>
				<div class="form-group col-md-6">
					<label for="etiquetapol">Etiqueta</label> <select id="etiquetapol"
						class="form-control" th:field="*{etiqueta}">
						<option value="--Seleccione una etiqueta--" selected disabled>-- Seleccione una etiqueta --</option>
						<option value="Cultura">Cultura</option>
						<option value="Naturaleza">Naturaleza</option>
						<option value="Aventura">Aventura</option>
						<option value="Deportivo">Deportivo</option>
						<option value="Gastronomia">Gastronomia</option>
						<option value="Vacio">Ninguno</option>
					</select>
				</div>
			</div>
			<h5 style="color:white">Fotos(Rellenar una como minimo)</h5>
			<div class="form-row">
				<div class="form-group col md-12">
						<label for="file" class="col-sm-4 col-form-label" th:field="*{fotoEnlace}" >
										</label>
										<div class="col-sm-10" style="color:white">
											<input type="file" name="file"
											class="form-control-file" required
												id="file"
												accept="image/x-png,image/gif,image/jpeg,image/png,image/jpeg"
												onchange="loadFile(event)" >
											<img id="output" style="padding-top: 2px; width: 146px;" />
										</div>
									
					</div>
			</div>
			
				<details>
					<summary>¿Desea agregar mas?</summary>
					<div class="form-row">
					<div class="form-group col md-12">
							<label for="file" class="col-sm-4 col-form-label" th:field="*{fotoEnlace2}">
												</label>
											<div class="col-sm-10" style="color:white">
												<input type="file" name="file2" class="form-control-file"
													id="file2"
													accept="image/x-png,image/gif,image/jpeg,image/png,image/jpeg"
													onchange="loadFile(event)">
												<img id="output2" style="padding-top: 2px; width: 146px;" />
											</div>
										
						</div>
					<div class="form-group col md-12">
						<label for="file" class="col-sm-4 col-form-label" th:field="*{fotoEnlace3}">
											</label>
										<div class="col-sm-10" style="color:white">
											<input type="file" name="file3" class="form-control-file"
												id="file3"
												accept="image/x-png,image/gif,image/jpeg,image/png,image/jpeg"
												onchange="loadFile(event)">
											<img id="output3" style="padding-top: 2px; width: 146px;" />
										</div>
									
					</div>
					</div>	
				</details>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<input type="submit" class="btn btn-success btn-block"
						th:value="${editMode}?'Modificar Pol':'Crear Pol'">
				</div>
				<div class="form-group col-md-6">
					<input type="reset" class="btn btn-secondary btn-block"
						value="Cancelar">
				</div>
			</div>
		</form>
		<!-- ---------------------------------------------------------------- -->
		<br>
		<h3 style="color:white">Informacion de Mis Pois</h3>
		<br>
		<div class="table-responsive">
			<table class="table  table-light table-hover table-bordered">
				<tr class="bg-warning">
					<th>Nombre</th>
					<th>Descripcion</th>
					<th>Calle</th>
					<th>Barrio</th>
					<th>Numero</th>
					<th>Localidad</th>
					<th>Etiqueta</th>
					<th>Sitio Web</th>
					<th>Operaciones</th>
				</tr>
				<tr th:if="${pols.empty}">
					<td colspan="2">No hay pols en el listado</td>
				<tr th:each="po : ${pols}">
					<div  th:if="${unTurista == po.turista}">
						<td th:text="${po.nombre}"></td>
						<td th:text="${po.descripcion}"></td>
						<td th:text="${po.calle}"></td>
						<td th:text="${po.barrio}"></td>
						<td th:text="${po.numeroCasa}"></td>
						<td th:text="${po.localidad}"></td>
						<td th:text="${po.etiqueta}"></td>
						<td th:text="${po.sitioWeb} ?: 'Vacio'"></td>
						<td class="text-center"><a class="mr-3" href="#" th:href="@{'/pol/editar/'+${po.codigo}}">
								<i class="fa fa-edit"></i>
						</a> <a
							th:onclick="'javascript:confirmarEliminar(\''+${po.codigo}+'\');'">
								<i class="fa fa-trash-alt"></i>
						</a></td>
					</div>
				</tr>
			</table>
		</div>
		<!--Modal Eliminar-->
		<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog"
			aria-labelledby="eliminarModal" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="eliminarModalTitulo">Confirmar
							eliminacion</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<h6>¿Estas seguro de eliminar el Pol?</h6>
					</div>
					<input type="hidden" id="identificadorPol" name="codigo" />
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Cancelar</button>
						<button type="button" class="btn btn-primary"
							th:onclick="eliminarPol()">Eliminar Pol</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="modalVender" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-dialog-centered" >
				<div class="modal-content">
				
				</div>
			</div>
		</div>
		<h4 style="color:white">Visualizacion de de Mis Pois</h4>
		<div>
			<div class="row">
					<div th:each="c : ${pols}">
						<div  th:if="${unTurista == c.turista}">
						<div class="col-sm-6">
								<div class="card" style="width: 14.99999rem;margin-top: 10px">
									<div th:id="'Nombre'+${c.codigo}" class="carousel slide" data-interval="false">
										<div class="carousel-inner">
   										 	<div class="carousel-item active">
		  										<img th:src="*{'data:;base64,'+c.fotoEnlace}" class="card-img-top" alt="imagen de producto" style="height: 200px;border:black solid 1px">	
										 	</div>
										 	<div class="carousel-item">
										 		<div th:if="${c.fotoEnlace2}">
										 			<img th:src="*{'data:;base64,'+c.fotoEnlace2}" class="card-img-top" alt="imagen de producto" style="height: 200px;border:black solid 1px">
										 		</div>
										 		<div th:unless="${c.fotoEnlace2}">
										 			<img src="..." alt="img">
										 			<h5>No hay una imagen aqui 1</h5>
    													<p>Siga avanzando</p>
										 		</div>
										 	</div>
										 	<div class="carousel-item">
										 		<div th:if="${c.fotoEnlace3}">
										 			<img th:src="*{'data:;base64,'+c.fotoEnlace3}" class="card-img-top" alt="imagen de producto" style="height: 200px;border:black solid 1px">
										 		</div>
										 		<div th:unless="${c.fotoEnlace3}">
										 			<img th:src="@{/img/cancelado.png}" alt="img" style="height: 200px;border:black solid 1px">
										 			
										 		</div>
										 	</div>
										</div>
										<a th:if="${c.fotoEnlace2} or ${c.fotoEnlace3}" class="carousel-control-prev" th:href="${'#Nombre'+c.codigo}" role="button" data-slide="prev">
									    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
									    <span class="sr-only">Previous</span>
									  </a>
									  <a th:if="${c.fotoEnlace2} or ${c.fotoEnlace3}" class="carousel-control-next" th:href="${'#Nombre'+c.codigo}" role="button" data-slide="next">
									    <span class="carousel-control-next-icon" aria-hidden="true"></span>
									    <span class="sr-only">Next</span>
									  </a>	 			  						
			  						</div>					
			  						<div class="card-body">
									<p class="card-text" th:text="${'Nombre: '+c.nombre}">Nombre</p>
									<p class="card-text" th:text="${'Descripcion: '+c.descripcion}">Descripcion</p>
									<p class="card-text" th:text="${'Id: '+c.codigo}">Codigo</p>
									</div>
		  						</div>
						</div>
						</div>
					</div>
			</div>
		</div>
	</div>
	<br>
	<div th:insert="layout/footer :: footer"></div>
	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"
		type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"
		type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"
		type="text/javascript"
		src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		function confirmarEliminar(id) {
			$('#modalEliminar').modal('show');
			$("#identificadorPol").val(id);
		}

		function eliminarPol() {
			var id = $("#identificadorPol").val();
			window.location = "eliminarPol/" + id;
		}
	</script>
	<script type="text/javascript">
			$(document).ready(function() { $(".link-vender").on("click", function(event) {
									event.preventDefault();
									$("#modalVender").modal("show").find(".modal-content").load($(this).attr("href"));
								});
					});
		</script>	
</body>
</html>